<?xml version="1.0"?>
<model>
  <name>pallet_stack</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Shivam</name>
    <email>s1.shivam3001@gmail.com</email>
  </author>
  <description>
    Wooden pallet carrying a stack of cardboard cartons (1.2 x 1.0 m, ~1.05 m
    high) - the floor-stacked goods filling the open bay in the reference
    warehouse photo.
  </description>
</model>
